/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
  background-color: #DBDBDB;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

form {
  margin-bottom: 30px;
  padding-top: 30px;
}

img {
  width: 100%;
}

.title-holder {
  text-align: center;
  padding-top: 30px;
}

  .title-holder .img-holder {
    width: 100%;
    max-width: 80px;
    margin: 0 auto;
  }

label {
  margin: 0;
}

.error-holder {
  padding: 10px;
}

form .form-group {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfcfcf;
  position: relative;
}

.form-group label {
  position: absolute;
  top: -20px;
  left: 0;
}

.form-group a {
  position: absolute;
  top: -20px;
  right: 0;
}

.icon-holder {
  position: relative;
  width: 100%;
  max-width: 30px;
}

  .icon-holder i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

.sing-up-btn {
  background-color: #7CF1AE;
  color: #000;
  border: solid 1px #000;
  padding: 5px 100px;
  text-decoration: none !important;
  transition: 0.3s;
}

  .sing-up-btn:hover {
    opacity: 0.9;
  }

.link-holder {
  text-align: center;
}

.registration-holder, .sign-in-holder {
  max-width: 600px;
  margin: 0 auto 30px;
  padding-top: 20px;
}

.button-holder {
  text-align: center;
}

form .invalid-feedback {
  position: absolute;
  right: 0;
  width: auto;
  bottom: -20px;
  color: red;
}

.ng-invalid:not(form) {
  border: none;
}

.ng-invalid:not(form).is-invalid {
  border: 1px solid #dc3545;
}
