@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,Store.Presentation
@model Store.BusinessLogic.Models.User.UserRegisterModel


@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Examples of Angular 2 data served by ASP.Net Core Web API:</p>
<form #testForm="ngForm">
    <div *ngIf="testData != null">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Data Entry</div>
                    <div class="panel-body">

                        <tag-di for="UserName"></tag-di>

                        <tag-di for="Email"></tag-di>

                        <tag-di for="Password"></tag-di>

                        <div class="panel-footer">
                            <button type="button" class="btn btn-warning" (click)="addTestData($event)">Save to database</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Data Display</div>
                    <div class="panel-body">


                        <tag-dd for="UserName"></tag-dd>

                        <tag-dd for="Email"></tag-dd>

                        <tag-dd for="Password"></tag-dd>

                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info" (click)="getTestData()">Get Last Record</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div *ngIf="errorMessage != null">
    <p>Error:</p>
    <pre>{{ errorMessage  }}</pre>
</div>