.admin-container{
  display: flex;
  justify-content: flex-start;
}

.sidebar {
  width: 100%;
  max-width: 180px;
  height: 100vh;
  background-color: #3a3a3a;
}

.admin-edition{
  padding: 0 15px;
}

/*table {
  width: 100%;
}

.thead {
  display: table-header-group;
  font-weight: bold;
  text-align: center;
}

.tbody {
  display: table-row-group;
}

.tr {
  display: flex;
  justify-content: space-around;
}

input.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.grid-table {
  display: table;

  input {
    background: none;
    border: 1px solid #3a3a3a;
  }

  .td {
    background-color: aliceblue;
    padding-right: 5px;

    &:last-of-type {
      padding-right: 0;
    }
  }
}*/

.table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 3.33fr) minmax(150px, 1.67fr) minmax(150px, 3.33fr) minmax(150px, 1.67fr) minmax(150px, 0.67fr);
}

.thead,
.tbody,
.tr {
  display: contents;
}

.th,
.td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

.th:last-child {
  border: 0;
}

.td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

.tr:nth-child(even) td {
  background: #f8f6ff;
}


