<ng-template #content let-c="close" let-d="dismiss" class="custom-modal">
  <form class="" [formGroup]="fg" *ngFor="let fg of printingEditionForms.controls" (submit)="recordSubmit">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <label>
        Name
        <input class="form-control" formControlName="Name" />
      </label>
      <label>
        Price
        <input class="form-control" formControlName="Price" />
      </label>
      <label>
        Desc
        <input class="form-control" formControlName="Desc" />
      </label>
      <label>
        AvatarUrl
        <input class="form-control" formControlName="AvatarUrl" />
      </label>
      <label>
        Quantity
        <input class="form-control" formControlName="Quantity" />
      </label>
      <label>
        CategoryId
        <input class="form-control" formControlName="CategoryId" />
      </label>
      <label>
        CurrencyId
        <input class="form-control" formControlName="CurrencyId" />
      </label>
      <!--//<button type="submit" class="btn btn-success">Add</button>-->

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" (click)="c('Save click')" [disabled]="fg.invalid">Save</button>
    </div>
  </form>
</ng-template>

<button class="btn btn-success" (click)="open(content)">+ Create</button>
